body {
    background-color: white;
    color: #310062;
    font-family: Verdana;
    font-size: 0.9em;
}

header {
 background-color:yellow;
    color:#310062;
    font-family: Verdana;
    text-align: center;
    font-size: 100%;
    padding: 10px;
}

footer {
    background-color:yellow;
    color:#310062;
    font-family: Verdana;
    text-align: center;
    font-size: 100%;
    padding: 10px;
}

section {
    background-color:yellow;
    color:#310062;
    margin: 5px;
    padding: 10px;
}

article {
    background-color: yellow;
    color:purple;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #DABAD0;
}

li {
   float: left;
}

/* Style The Dropdown Button */

li a,.dropbtn {
    display: inline-block;
    color: #310062;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mainselection-content:hover, .mainselection-content option:hover {
    background-color: #C8A2C8;
}

li.mainselection{
    display: inline-block;
    overflow:hidden;
    height: 47px;
    width: 150px;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-repeat: no-repeat;
    -moz-bsorder-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 0px 8px 16px 0px #C8A2C8(0, 0, 0, 0.2);;
    box-shadow: 1px 1px 11px #4B0082;
    background: #C8A2C8;
    color:#310062;
    text-align: center;
    font-family: Verdana;
    font-size: 0.9em;
    margin: 0;
    text-overflow: ellipsis;
}

.mainselection-content {
    background: #C8A2C8;
    font-size: 16px;
    padding: 12px 16px;
    color:#310062;
    min-width: 160px;
    border-radius: 0px 8px 16px 0px #C8A2C8;
    box-shadow: 1px 1px 11px #4B0082;
    z-index: 1;
}

.mainselection-content option{
    color: #310062;
    text-decoration: none;
    background:#f9f9f9;
    display: block;
    border-radius: 0px 8px 16px 0px #C8A2C8;
    box-shadow: 1px 1px 11px #4B0082;
    text-align: center;
}

form {
    text-align: right;
}

input[type=submit] {
    background-color: #FFFFFF;
    border: 2px solid #C8A2C8;
    color: #310062;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding: 0;
    height: 25px;
    width: 100px;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #C8A2C8;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: 'C:\Users\paterel1\Desktop\ESERCIZI\searchicon.png';
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    text-align: center;
}

input[type=text]:focus {
    width: 40%;
}

.modal-poster, .modal-trailer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 1330px;
    height: 700px;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 530px;
    height: 480px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
         -webkit-transform: scale(0)
     }
     to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }
    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
    }

.close:hover,.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.flex-container-modal {
    display: -webkit-flex;
    display: flex;
    width: 1330px;
    height: 550px;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    background-color: #DABAD0;
    color: #310062;
}

.flex-item-modal {
    background-color: #DABAD0;
    width: 570px;
    height: 500px;
    margin: 5px;
    text-align: center;
}

.rcorners-modal {
    border-radius: 25px;
    border: 2px solid #C8A2C8;
    padding: 20px;
    width: 600px;
    height: 500px;
}

.article-modal {
    background-color: #DABAD0;
    text-align: center;
}

.flex-container-loc {
    display: -webkit-flex;
    display: flex;
    width: 1210px;
    height: 3000px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 40px;
    border: 25px;
}

.flex-item-loc {
    background-color: white;
    width: 330px;
    height: 250px;
    margin: 5px;
}

.rcorners-loc {
    border-radius: 15px/50px;
    border: 2px solid #4B0082;
    padding: 20px;
    width: 350px;
    height: 300px;
}

.flex-container-trailer {
    display: -webkit-flex;
    display: flex;
    width: 1230px;
    height: 550px;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    background-color: black;
}

.myImg-loc {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 350px;
    height: 250px;
}

.myImg-loc:hover {
    opacity: 0.7;
}

#hidden {
    text-align:center; 
    display: none;
}

.trailer-modal{
     display:none;
}

@media screen and (max-width: 1000px) {
   .modal-poster, .modal-trailer{
                    width: 1500px;
                    height: 3000px;
   }
   .modal-content {
                  width: 265px;
                  height: 240px;
    }

    .flex-container-modal{
                         width: 665px;
                        height: 275px;
    } 

    .flex-item-modal{
                    width: 285px;
                    height: 250px;
    }  

   .flex-container-loc{
                      width: 605px;
                      height: 1500px;
    }
    .flex-item-loc{
                  width: 285px;
                  height: 250px;
   }

}